*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper{
    width: 70%;
    background-color: white;
}
body{
    background-color: gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.heroImg img{
    width: 100%;
}